{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": [
        "source-map-support",
        "@babel/plugin-transform-regenerator"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-regenerator"
  ]
}
